<!DOCTYPE html>
<html>
  <head>
    <title>Mammoth</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Mammoth</h1>
      <div class="row">
        <div class="span4">
          <div class="well">
            <p>Uploaded document:<br /> <strong>{{documentName}}</strong></p>
          </div>
        </div>
        <div class="span8">
          {{documentHtml}}
        </div>
      </div>
    </div>
  </body>
</html>

