<!DOCTYPE html>
<html>
  <head>
    <title>Mammoth</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <h1>Mammoth</h1>
      </div>
      <div class="row-fluid">
        <div class="span4 well">
          <p>Uploaded document:<br /> <strong>{{documentName}}</strong></p>
        </div>
        <div class="span8">
          {{documentHtml}}
        </div>
      </div>
    </div>
  </body>
</html>

