{>"base.html"/}

{<body}
  <div class="row">
    <div class="hero-unit">
      <h1>Mammoth</h1>
      <p>Convert semantically marked-up Word <code>.docx</code> files to 
      clean HTML</p>
      <h2>Try it out</h2>
        <form action="/convert" method="POST" enctype="multipart/form-data">
        <p>
          <label>
            Select <code>.docx</code> file:<br>
            <input type="file" name="document">
          </label>
        </p>
        <p>
          <input type="submit" value="Convert" class="btn btn-primary">
        </p>
      </form>
    </div>
  </div>
{/body}
